@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/* font-family: "Merriweather", serif; */
	font-family: "Montserrat", sans-serif;
	/* font-family: "Roboto", sans-serif;
	font-family: "Source Sans Pro", sans-serif; */
	height: "100vh";
}

h2 {
	font-size: 2.4rem;
	font-weight: 600;
}
